.about {
    padding: 2rem 0;
}

.about__inner {
    padding: 7.1rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000 url('../../resurce/img/about.jpg') no-repeat center;
    background-size: cover;
    position: relative;

    .about__text {
        display: flex;
        flex-wrap: wrap;
        margin-left: 6rem;
        margin-right: -2rem;

        .about__block {
            width: 100%;
            max-width: 229px;
            padding: 6rem 2rem 2rem 2rem;
            background: rgba(80, 75, 74, 0.9);
            backdrop-filter: blur(2px);
            border-radius: 0px;
            margin-bottom: 2rem;
            margin-right: 2rem;
            text-align: center;
            transition: all .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            cursor: pointer;
            .about__icon {
                text-align: center;
            }

            &:hover {
                box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
                color: #79B282;
            }
        }
    }
}

.about__content {
    width: 100%;
    max-width: 540px;

    .about__title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: 3.2rem;
        text-transform: uppercase;
        margin-bottom: 2.6rem;
    }

    .about__subtitle {
        font-family: 'Gilroy', sans-serif;
        font-size: 1.7rem;
        color: #CFCFCF;

        margin-bottom: 6rem;
    }

    .button {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2.5px);
        border-radius: 10px;

        padding: 2rem 2.5rem;

        color: white;

        cursor: pointer;

        transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
            background: rgba(255, 255, 255, 0.01);
        }
    }
}