.title {
    padding-left: 20px;
    border: none;
    border-left: 4px solid #618967;

    &-headText {
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}