.terms {
    padding-top: 22.8rem;
    padding-bottom: 3rem;

    .terms__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .term__content {
       .term__content-title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: 3.2rem;
        text-transform: uppercase;        
        color: #FFFFFF;

        margin-bottom: 2rem;
    }
    
    .term__content-accordin {
        .accordin {
            .according__title {
                font-family: 'Gilroy', sans-serif;
                font-weight: 500;
                font-size: 1.8rem;
                color: #FFFFFF;

                background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 1.7rem 3rem;
            }

            .accordin__subtitle {
                font-family: 'Gilroy', sans-serif;
                font-weight: 400;
                font-size: 1.6rem;
                color: #FFFFFF;

                background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 3.7rem 2.8rem;
            }
        }
    }
}
}